@import url("https://fonts.googleapis.com/css?family=Mansalva&display=swap");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap");

$mainblue: #192965;
$mainyellow: #fddb3a;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
}

footer {
  position: absolute;
  height: 100px;
  padding: 20px;
  width: 100%;
  bottom: 0;
  background-color: $mainblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $mainyellow;
  font-size: 16px;

  a {
    color: inherit;

  }


}

header {
  width: 100%;
  height: 10vh;
  background-color: $mainblue;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo-box {
    .title {
      font-size: 40px;
      font-family: "Mansalva", cursive;
      color: $mainyellow;
    }
  }
}

.sketch-container {
  grid-template-columns: 1fr;

  .sketch-title {
    grid-column: 1/-1;
  }
}

.eyes-one {
  width: 100px;
}

.eyes-two {
  width: 100px;
}

.choices-container {
  align-items: center;
  font-family: "Patrick Hand", cursive;
}

.select-container {
  display: flex;
  overflow: scroll;
  background-color: #cccccc;
}

.choice-title {
  grid-column: 1/-1;
}

.option {
  background-color: white;
  padding: 50px;
  margin: 10px;
  height: 200px;
  width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.choice-menu {
  border-bottom: 2px solid #eee;
  background-color: #eeeeee;

  display: flex;
  align-items: center;
  justify-content: space-around;

  nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    height: 50px;

    li {
      margin: 10px;
      margin-bottom: 0;
      text-align: center;
      padding: 5px;
      color: #696969;

      &:hover {
        border-bottom: 2px solid $mainblue;
        cursor: pointer;
      }
    }
  }
}

.result-hair {
  position: absolute;

  width: 250px;
  top: -110px;
  left: 160px;
}

.hair-item {
  width: 100px;
}

.result-box {
  position: relative;
  height: 300px;
  width: 100%;
  margin-bottom: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-main {
  width: 210px;
  height: 220px;

  position: relative;
}

.result {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.eyes {
  background-size: cover;
  width: 400px;
  height: 100px;
  top: 100px;
  right: -10px;
}

.save-button {
  position: absolute;
  bottom: -40px;
  background: none;
  padding: 5px;
  border-radius: 4px;
  background-color: $mainblue;
  border: none;
  width: 100px;
  font-size: 16px;
  font-family: "Mansalva", cursive;
  color: $mainyellow;
  font-weight: 900;
}

.head {
  background: url("../assets/head_one.png");
  background-position: center;
  background-size: cover;
  padding: 10px;
}