@import url("https://fonts.googleapis.com/css?family=Mansalva&display=swap");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap");
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gaegu&display=swap');

$mainblue: #192965;
$mainyellow: #fddb3a;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  background-color: #faf5ef;
}

footer {
  position: absolute;
  height: 100px;

  width: 100%;
  bottom: 0;
  background-color: $mainblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $mainyellow;
  font-size: 16px;

  a {
    color: inherit;

  }


}

header {
  width: 100%;
  height: 10vh;
  background-color: #d7d1c9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;

  .logo-box {
    .title {
      font-size: 20px;
      font-family: 'Gaegu', cursive;


      color: #fd5e53;
      font-weight: 700;



    }
  }
}

.sketch-container {
  grid-template-columns: 1fr;

  .sketch-title {
    grid-column: 1/-1;
  }
}

.choices-container {
  align-items: center;
  font-family: "Patrick Hand", cursive;
}

.select-container {
  display: flex;
  overflow: scroll hidden;
  background-color: white;
  align-items: center;
  justify-content: center;
  height: 200px;



}

.choice-title {
  grid-column: 1/-1;
}

.option {
  background-color: #faf5ef;
  padding: 50px;
  margin: 10px;
  height: 150px;
  width: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 3px 2px rgba($color: #000000, $alpha: 0.1);
}

.choice-menu {

  background-color: #eeeeee;
  box-shadow: 10px 13px 2px rgba($color: #000000, $alpha: 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;




  nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    height: 60px;

    li {
      margin: 10px;
      margin-bottom: 0;
      text-align: center;
      padding: 5px;
      color: #fd5e53;
      font-family: 'Gaegu', cursive;


      &:hover {
        border-bottom: 2px solid $mainblue;
        cursor: pointer;
      }
    }
  }
}



.hair-item {
  width: 100px;
}

.result-box {
  position: relative;
  height: 430px;

  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.result-main {
  // head
  width: 350px;
  height: 350px;
  background: url("../assets/result/head_two.png");
  background-position: center;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.result-eyes {
  width: 350px;
}

.item {
  width: 100px;
}


.save-button {


  padding: 5px;
  border-radius: 4px;
  background: none;

  width: 80px;
  font-size: 15px;
  font-family: 'Gaegu', cursive;
  font-weight: 900;

  border: 1px solid #fd5e53;
  color: #fd5e53;
}