.sketch-container {
  display: grid;
  grid-template-columns: 500px 500px;

  .sketch-title {
    grid-column: 1/-1;
  }
}

.result-eyes-one {
  position: absolute;
  width: 400px;
  top: 50px;
  left: -30px;
}

.result-eyes-two {
  position: absolute;
  width: 200px;
  left: 100px;
}

.eyes-one {
  width: 100px;
}

.eyes-two {
  width: 100px;
}

.choices-container {
  grid-column: 1/2;
  width: 400px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  .select-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  .choice-title {
    grid-column: 1/-1;
  }

  .option {
    border: 1px solid black;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.result-hair {
  position: absolute;

  width: 400px;
  top: -110px;
}

.hair-option {
  width: 50px;
}

.result-container {
  grid-column: 2/3;
}

.result-box {
  position: relative;
  height: 700px;
  width: 700px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-main {
  background-color: green;
  width: 350px;
  height: 370px;
  position: relative;
}

.result {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.eyes {
  background-size: cover;
  width: 400px;
  height: 100px;
  top: 100px;
  right: -10px;
}

.save-button {
  position: absolute;
  bottom: 30px;
}

.head {
  background: url("../assets/head_one.png");
  background-position: center;
  background-size: cover;
  padding: 10px;
}
