@import url("https://fonts.googleapis.com/css?family=Mansalva&display=swap");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gaegu&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  background-color: #faf5ef;
}

footer {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: #192965;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fddb3a;
  font-size: 16px;
}

footer a {
  color: inherit;
}

header {
  width: 100%;
  height: 10vh;
  background-color: #d7d1c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
}

header .logo-box .title {
  font-size: 20px;
  font-family: 'Gaegu', cursive;
  color: #fd5e53;
  font-weight: 700;
}

.sketch-container {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.sketch-container .sketch-title {
  grid-column: 1/-1;
}

.choices-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Patrick Hand", cursive;
}

.select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll hidden;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
}

.choice-title {
  grid-column: 1/-1;
}

.option {
  background-color: #faf5ef;
  padding: 50px;
  margin: 10px;
  height: 150px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.1);
}

.choice-menu {
  background-color: #eeeeee;
  -webkit-box-shadow: 10px 13px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 13px 2px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.choice-menu nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
}

.choice-menu nav ul li {
  margin: 10px;
  margin-bottom: 0;
  text-align: center;
  padding: 5px;
  color: #fd5e53;
  font-family: 'Gaegu', cursive;
}

.choice-menu nav ul li:hover {
  border-bottom: 2px solid #192965;
  cursor: pointer;
}

.hair-item {
  width: 100px;
}

.result-box {
  position: relative;
  height: 430px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.result-main {
  width: 350px;
  height: 350px;
  background: url("../assets/result/head_two.png");
  background-position: center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result-eyes {
  width: 350px;
}

.item {
  width: 100px;
}

.save-button {
  padding: 5px;
  border-radius: 4px;
  background: none;
  width: 80px;
  font-size: 15px;
  font-family: 'Gaegu', cursive;
  font-weight: 900;
  border: 1px solid #fd5e53;
  color: #fd5e53;
}
/*# sourceMappingURL=style.css.map */